/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main App */

.main-app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/freccia-rossa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Generics */

body {
    font-size: 1.5rem;
    color: white;
}

.row {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Input Page */

a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    background-color: grey;
    margin: 1.5rem;
}


/* Ticket */

.ticket div {
    display: flex;
    flex-direction: column;
}

h2 {
    border-bottom: 1px solid white;
}

span + span {
    padding: 2rem 0;
}

.passenger-name {
    background-color: grey;
}

#price-ticket {
    text-decoration: underline;
}

#user-notice-discount {
    border-top: 1px solid white;
    padding: 1.5rem;
}



